{% extends 'base.html.twig' %}

{% block title %}POLITICO{% endblock %}

{% block body %}
    <div class="bg-light p-3">
        <h1>SHOWS</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-4 mt-4">
                <div class="border border-dark rounded p-2 clearfix">
                    {% for politico in politicos %}
                        <div class="col-4 mt-4">
                            <div class="border border-dark rounded p-2 clearfix">
                                <h2>
                                    {{ politico.title }}
                                    -
                                    {{ politico.price }}
                                </h2>
                                <img class="img-fluid rounded" src="{{ politico.video }}" alt="Image de {{ politico.title }}">
                                <hr>
                                <a href="{{ path('cart_add',{'id':politico.id}) }}" class="btn btn-success float-right">
                                    <i class="fas fa-shopping-cart mr-1"></i>
                                    Ajouter
                                </a>
                            </div>
                        </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
