<nav class="navbar navbar-expand-lg navbar-light text-white bg-secondary fixed-top">
    <a class="text-white navbar-brand" href="/">Fu#k</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if app.user %}
            <li class="nav-item">
                <a class="text-white nav-link" href="{{ path('show') }}">MY Show</a>
            </li>
            <li class="nav-item">
                <a class="text-white nav-link" href="{{ path('cart') }}">MY Cart</a>
            </li>
            {% else %}
            <li class=" nav-item active">
                <a class="text-white nav-link" href="">Home</a>
            </li>
            <li class=" nav-item active">
                <a class="text-white nav-link" href="{{ path('show') }}">SHow</a>
            </li>
            <li class=" nav-item active">
                <a class="text-white nav-link" href="">Contact</a>
            </li>
             <li class=" nav-item active">
                 <a class="text-white nav-link" href="{{path('app_login')}}">Login</a>
             </li>
            {% endif %}
            {% if app.user == true %}
            <li class=" nav-item active">
                <a class="text-white nav-link" href="{{path('app_logout')}}">Logout</a>
            </li>
            {% endif %}

        </ul>

    </div>
</nav>


